<div class="dashboard-page">
  <app-top-navigation class="dashboard-page__top-navigation"></app-top-navigation>

  <app-sidebar-navigation class="dashboard-page__sidebar-navigation"></app-sidebar-navigation>

  <div class="dashboard-page__router-outlet">
    <router-outlet></router-outlet>
  </div>

</div>
