.dashboard-page {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "topbar topbar"
    "sidebarnav routeroutlet";
  height: 100vh;
  grid-gap: 0;


  &__top-navigation {
    grid-area: topbar;
  }


  &__sidebar-navigation {
    grid-area: sidebarnav
  }

  &__router-outlet {
    grid-area: routeroutlet;
  }
}
