@import 'src/style/typography';

.root-admins-list {
  width: 100%;
  -webkit-margin-start: 0px;
  padding-inline-start: 0px;

  &__item {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 30px auto 320px;

    &--new {
      grid-template-columns: auto auto 320px;
    }

    .item-column {
      font-family: $lato;

      &--actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
