<div class="router-outlet-view">

  <app-router-outlet-page-details header="Root admin" subheader="Panel for root admins"></app-router-outlet-page-details>

  <section class="router-outlet-view__wrapper">

    <app-box-detail-article header="Root admin list">
    </app-box-detail-article>
    <app-root-admin-list></app-root-admin-list>
  </section>
</div>
