<mat-card class="login-panel">
  <article class="login-panel__article">
    <h1 class="login-panel__header">
      Root Admin Access
    </h1>
  </article>
  <form novalidate [formGroup]='loginFormGroup' (ngSubmit)="handleSubmit()" class="login-form">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="email" name='email' type="text" formControlName='email'>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="password" name='password' type="password" formControlName='password'>
    </mat-form-field>

    <button [disabled]='!loginFormGroup.valid' mat-flat-button color="primary">Login</button>
    <p *ngIf="error"> {{error}}</p>
  </form>
</mat-card>
