@import 'src/style/variables';
@import 'src/style/common-typo';

.top-navigation {
  height: 100%;
  width: 100%;
  background-color: $white;
  border-bottom: .3px solid $light_gray;
  display: flex;
  align-items: center;


  &__wrapper {
    padding: 0px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-details {
    display: flex;
    align-items: center;
  }


  &__topbar-navigation-list {
    padding-inline-start: 0;
  }
}


.user-details {
  &__hello {
    margin-right: 6px;
  }
}

.top-navigation-list .user-avatar {
  &__image {
    margin: 0;
  }
}
