<div class="top-navigation">
  <div class="top-navigation__wrapper">
    <div class="top-navigation__user-details">
      <span class="span user-details__hello">
        Hello,
      </span>
      <h4 class="header header--h4 user-details">
        {{(userState$ | async)?.name}}
      </h4>
    </div>

    <div class="top-navigation__user-actions">
      <button mat-flat-button (click)="logout()">Log out</button>
    </div>
  </div>
</div>
