<div class="sidebar-navigation">
  <ul role="list" class="sidebar-navigation__route-list">
    <li role="listitem" *ngFor="let route of routes" class="route-list__element" [routerLink]="[route.path]"
      routerLinkActive="route-list__element--active">
      <mat-icon class="sidebar-navigation__icon">{{route.svgIcon}}</mat-icon>
    </li>
  </ul>
</div>
