@import 'src/style/variables';

.sidebar-navigation {
  height: 100%;
  background-color: white;
  padding: 50px 0px;
  border-right: 0.3px solid $light_gray;

  &__route-list {
    padding-inline-start: 0px;
    margin: 0;
  }

  &__icon {
    color: $light_gray;
    transition: .4s;
  }
}

// Route List
.route-list {
  &__element {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    padding: 15px 0px;
    position: relative;
    cursor: pointer;
    outline: none;

    &:after {
      position: absolute;
      right: 1px;
      top: 0;
      width: 0px;
      height: 100%;
      transition: .4s width;
      content: '';
      background-color: $blue;
    }

    &--active {

      &:after {
        width: 3px;
      }

      .sidebar-navigation__icon {
        color: $blue;
      }
    }

    &:hover {
      .sidebar-navigation__icon {
        color: $blue;
      }
    }

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}
