.root-application-login-page {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, rgba(85, 88, 218, 1) 0%, rgba(95, 209, 249, 1) 100.2%);
  display: flex;
  align-items: center;
  justify-content: center;
}
