<div class="router-outlet-view">

  <app-router-outlet-page-details header="Dashboard" subheader="Dashboard main page"></app-router-outlet-page-details>

  <section class="router-outlet-view__wrapper">

    <!-- <app-box-detail-article header="Products list">
      </app-box-detail-article> -->

  </section>
</div>
