@import 'src/style/variables';


.root-admin-list {
  display: flex;
  flex-direction: column;

  &__table {
    width: 100%;
  }

  &__new-user {
    display: flex;
    align-items: center;
  }
}

// New user
.new-user {
  &__input {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
