<section class="root-admin-list">
  <!-- Table for root admins -->
  <table mat-table [dataSource]="rootAdminsList" class="root-admin-list__table" *ngIf="rootAdminsList">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="removeUser(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- New user form -->
  <form novalidate [formGroup]="newRootAdminForm" (ngSubmit)="handleSubmit()" class="oot-admin-list__new-user">
    <mat-form-field class="new-user__input">
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="new-user__input">
      <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>
    <mat-form-field class="new-user__input">
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
    <button [disabled]="!newRootAdminForm.valid" mat-flat-button color="primary" class="new-user__input" type="submit">Delete</button>
  </form>

</section>
