<div class="router-outlet-view">

  <app-router-outlet-page-details header="Students list" subheader="List of all students"></app-router-outlet-page-details>

  <section class="router-outlet-view__wrapper">

    <app-box-detail-article header="Student list">
    </app-box-detail-article>

  </section>
</div>
