<div class="router-outlet-view">

  <app-router-outlet-page-details header="Dishes list" subheader="List of all dishes"></app-router-outlet-page-details>

  <section class="router-outlet-view__wrapper">

    <app-box-detail-article header="Dishes list">
    </app-box-detail-article>

  </section>
</div>
