@import 'src/style/variables';
@import 'src/style/typography';


.header,
.sub-header,
.span {
  font-family: $lato;
  margin: 0;
}

.header {
  font-family: $lato;
  margin: 0;
  color: $navy;

  &--h1 {
    font-size: 32px;
  }

  &--h2 {
    font-size: 28px;
  }

  &--h3 {
    font-size: 22px
  }

  &--h4 {
    font-size: 18px;
  }
}

.sub-header {
  font-size: 14px;
  font-weight: $light;
}

.span {
  font-weight: $light;

  &--bold {
    font-weight: $bold;
  }

  &--medium {
    font-weight: $medium;
  }
}
