@import './typography';
@import './common-typo';
@import './variables';

.router-outlet-view {
  margin: 35px 50px;

  &__page-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    background-color: $white;
    border: 0.3px solid $light_gray;
    flex-direction: column;
    padding: 10px 20px;
  }
}
