<div class="router-outlet-view">

  <app-router-outlet-page-details header="Trainers list" subheader="List of all trainers"></app-router-outlet-page-details>

  <section class="router-outlet-view__wrapper">

    <app-box-detail-article header="Trainer list">
    </app-box-detail-article>

  </section>
</div>
